@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Open+Sans:wght@300;400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat:wght@100;200;300&family=Open+Sans:wght@300;400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    font-family: "Ubuntu", sans-serif; 
    /* border: 1px solid red; */
}

:root {
    --brand-col: #f0954f;
}

.icon {
    color: var(--brand-col);
}

/* Fonts  */

h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
} 

h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
} 

p {
    font-family: "Ubuntu", sans-serif;
    font-style: normal; 
} 

strong {
    font-weight: 450;
}

/* Header & NavMenu*/

nav ul {
    width: 100%; 
    list-style: none; 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

nav li {
    height: 50px;
} 

nav a {
    height: 100%; 
    padding: 0 30px; 
    text-decoration: none; 
    display: flex; 
    align-items: center; 
    color: white;
} 

nav a:hover {
    color: lightsalmon;
} 

nav li:first-child {
    margin-right: auto;
}   

.space {
    margin: 10px;
} 

.logo {  
    height: 50px;
}

.menu-button {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0; 
    height: 100vh; 
    width: 290px;
    z-index: 999; 
    backdrop-filter: blur(10px);
    background-color: rgba(176, 176, 176, 0.455);
    box-shadow: 3px 3px 5pc rgba(0,0,0, 0.1); 
    display: none; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start;
} 

.sidebar li{
    width:100%;
} 

.background{
    background-image: url(img/mainBanner.png); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}

.promoBar {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    width: auto;
    height: 20px;
    background-color: #f0954f;
    color: white;
    font-weight: 200;
}

.intro > h1 {
    /* font-family: "Dancing Script", 'ubuntu';  */
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
    font-size: 140px;
    color: white;
}

.intro > p {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;
    font-size: 20px;
    color: white;
    font-style: italic;
}

.contact a {
    border: 10px white solid;
    background-color: white;
    border-radius: 50px;
    color: black;
    margin-left: 5px;
}

.contact a:hover {
    border: 10px white solid;
}

.contact >a:hover {
    color: #f0954f;;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 850px;
    background-color: rgb(236, 236, 236);
}

.about > h2 {
    padding-top: 25px;
    text-align: center;
    font-size: 50px;
}

.about > p {
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 50px;
}

.aboutbox {
    width: 500px;
    height: 600px;
    margin: 5px;
    margin: 0 20px;
}

.textLink {
    text-decoration: none; 
    color: #bf5605;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
} 

.rcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.profilephoto {
    background-image: url(/img/mainLogo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}

.abouttext {
    margin: 50px 0;
    padding: 40px 25px 0;
} 

.spacebelow {
    padding-bottom: 25px;
}

.spacebelowtext {
    padding-bottom: 40px;
} 

.reviews {
    width: 100%;
    height: 500px;
}

.reviews-image {
    background-image: url(/img/reviews.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.reviews > h2 {
    padding-top: 40px;
    text-align: center;
    font-size: 50px;
    color: white;
}

.reviews > p {
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 50px;
    color: white;
}

.reviewbox {
    margin: 0 10px;
    border: 1px rgba(255, 253, 253, 0.3) solid;
    width: 250px;
    height: 210px;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    color: white;
    background-color:rgba(255, 253, 253, 0.1);
}

.reviewbox > h2 {
    padding-bottom: 25px;
}

footer {
    width: 100%;
    height: auto;
    text-align: center; 
    justify-content: center;
    background-color: rgb(236, 236, 236);
    color: rgb(98, 98, 98);
    padding: 25px 0;
}

.fcontainer {
    display: flex;
    width: auto;
    justify-content: center; 
    height: auto; 
} 

.fbox {
    width: auto;
    height: auto; 
    margin: 0 100px; 
    text-align: left; 
    padding-bottom: 30px;
    /* border: solid black 1px; */
} 

footer h2 {
    font-size: 1.5rem;
    padding-bottom: 5px;
}

.socials {
    font-size: 2rem;
} 

footer p {
    font-size: 1rem;
    padding: 5px 0;
} 

footer a {
    text-decoration: none;
    color: rgb(98, 98, 98);
} 

footer a:hover{
    color: var(--brand-col);
}

/* Contact us Page */ 

.contactUs {
    height: auto; 
    width: auto;
}

.contactUs > h2 {
    padding-top: 25px;
    text-align: center;
    font-size: 40px;
}

.contactUs > p {
    padding-top: 20px;
    text-align: center;
    font-size: 17px;
    padding-bottom: 50px;
} 

.ccontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    padding-bottom: 25px;
} 

.contactBox {
    margin: 0 10px;
    /* border: 1px rgb(0, 0, 0) solid; */
    width: 500px;
    height: 340px;
    padding: 10px; 
} 

form {
    /* border: 1px orange solid;  */
    padding: 10px; 
    border-radius: 5px;;
}

input[type=text]{
    width: 95%; 
    padding: 5px; 
    margin: 5px; 
    border: 1px solid black; 
    border-radius: 5px; 
    background-color: rgba(128, 128, 128, 0.066);
} 

input[type=email]{
    width: 95%; 
    padding: 5px; 
    margin: 5px; 
    border: 1px solid black; 
    border-radius: 5px; 
    background-color: rgba(128, 128, 128, 0.066);
}  

input[type=number]{
    width: 95%; 
    padding: 5px; 
    margin: 5px; 
    border: 1px solid black; 
    border-radius: 5px; 
    background-color: rgba(128, 128, 128, 0.066);
}

input[type=submit]{
    width: 20%; 
    padding: 5px; 
    margin: 10px 5px; 
    border: 1px solid black; 
    border-radius: 5px; 
    background-color: rgba(128, 128, 128, 0.066);
} 

input[type=submit]:hover{
    color: white; 
    background-color: var(--brand-col);
    border: 1px solid var(--brand-col); 
} 

textarea {
    width: 95%; 
    padding: 5px; 
    margin: 5px; 
    height: 100px; 
    resize: none; 
    border: 1px solid black; 
    border-radius: 5px; 
    background-color: rgba(128, 128, 128, 0.066);
} 


label {
    margin: 0 5px;
} 

input[type=checkbox]{
    padding: 5px; 
    margin: 0 0 0 5px;
    border: 1px solid black; 
    background-color: rgba(128, 128, 128, 0.066);
}

.contactText {
    font-size: 18px;
    padding: 15px 0; 
}

.contactText p {
    padding: 10px 0;
}

.contactText a {
    text-decoration: none; 
    color: black;
}

.contactText a:hover {
    color: var(--brand-col);
} 

.ctext {
    font-size: 0.8rem;
}

.ctext a{
    text-decoration: none; 
    color: grey;
}

.ctext a:hover {
    color: var(--brand-col);
} 


/* Services Page */ 

.services {
    width: 100%;
    height: auto;
    background-color: white;
}

.services > h2 {
    padding-top: 25px;
    text-align: center;
    font-size: 50px;
}

.services > p {
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 50px;
}

.center {
    margin: 30px auto;
    text-align: center;
    /* border: 1px solid rgb(140, 140, 140);
    border-radius: 10px; */
    width: 70%;
    height: 300px;
}

.services a {
    text-decoration: none;
    color: var(--brand-col);
}

.services a:hover {
    color: grey;
}

.services > div {
    margin: 30px auto;
    width: auto;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.servicesTI img {
    min-height: 300px;
    max-width: 400px;
    border-radius: 10px;
    background-position: center;
} 

.servicescontainer {
    display: flex;
    justify-content: left;
    flex-direction: row;
    height: auto;
    width: auto;
} 

.middle-space {
    margin: 20px 20px;
}

.center h2, p {
    padding: 5px 0;
} 

.lastButton {
    padding-bottom: 20px;
}

button {
    padding: 10px;
    border-radius: 50px;
    background-color: var(--brand-col);
    color: white;
    margin-right: 20px;
    text-align: center;
}

.center a {
    text-decoration: none;
    color: white; 
    padding: 10px;
    border-radius: 50px;
}

/* Privacy Policy */

.privacypolicy {
    width: 100%;
    height: auto;
    background-color: white;
}

.privacypolicy > h2 {
    padding-top: 25px;
    text-align: center;
    font-size: 50px;
}

.privacypolicy > p {
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 50px;
}

.privacypolicy div {
    width: 50%;
    height: auto; 
    margin: 20px auto; 
}  

.ppfirst {
    padding-top: 10px;
}

.indent {
    margin-left: 15px;
}

.ulspace {
    padding: 10px 0;
} 

.ulspace li {
    padding: 5px;
}

.mspace {
    padding: 15px 0;
}

.bottom {
    padding: 0 0 10px 0;
}

.nameList {
    list-style-type: upper-alpha;
} 

.last {
    padding: 10px 0;
}

.privacypolicy a {
    text-decoration: none;
    color: black;
} 

.privacypolicy a:hover{
    color: var(--brand-col);
} 

/* Terms of Service */ 

.termsservice {
    width: 100%;
    height: auto;
    background-color: white;
}

.termsservice > h2 {
    padding-top: 25px;
    text-align: center;
    font-size: 50px;
}

.termsservice > p {
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 50px;
}

.termsservice div {
    width: 50%;
    height: auto; 
    margin: 20px auto; 
}  

.tsfirst {
    padding-top: 10px;
}

.indent {
    margin-left: 15px;
}

.ulspace {
    padding: 10px 0;
} 

.ulspace li {
    padding: 5px;
}

.mspace {
    padding: 15px 0;
}

.bottom {
    padding: 0 0 10px 0;
}

.nameList {
    list-style-type: upper-alpha;
} 

.last {
    padding: 10px 0;
}

.termsservice a {
    text-decoration: none;
    color: black;
} 

.termsservice a:hover{
    color: var(--brand-col);
} 


@media (max-width: 1641px){

    .center {
        width: auto;
    }

}  

@media (max-width: 1423px){

    .center {
        width: auto;
    }

}  

@media (max-width: 1253px){

    .center {
        width: auto;
    }

}  

@media (max-width: 1113px){

    .center {
        width: 90%
    }

    .middle-space {
        margin: 20px 0;
    }

    .center {
        width: auto;
    }

}  

@media (max-width: 1068px){

    .reviewbox{
        height: 240px;
    }

    .center {
        width: auto;
    }

}  

@media (max-width: 1000px){

    .container {
        width: 100%; 
        margin: 0 auto;
    }

    .reviews{ 
        height: auto;
    }

    .reviewbox{
        height: 260px; 
        margin-bottom: 20px;
    }

    .privacypolicy div {
        width: 80%;
        height: auto; 
        margin: 20px auto; 
    }  

    .termsservice div {
        width: 80%;
        height: auto; 
        margin: 20px auto; 
    }

    .center {
        width: auto;
    }

}  

@media (max-width: 993px){ 

    .intro > h1 {
        font-size: 80px;
    }

    .abouttext {
        margin: 25px 0;
    } 

}  

@media (max-width: 917px){

    .fbox {
        margin: 0 80px; 
    } 

    .center {
        margin: 60px 0;
    }

    .servicesTI {
        min-height: 250px;
        min-width: 200px;
    }
}

@media (max-width: 904px){

    .reviewbox {
        height: 300px;
    }

    .servicesTI {
        min-height: 200px;
        max-width: 350px;
    }

} 

@media (max-width: 800px){ 

    /* Header */

    .hideOnMobile {
        display: none;
    } 
    
    .menu-button {
        display: block;
    }

    .ccontainer {
        display: block; 
        align-content: center;
        margin: 0 18%;
    } 
    
    .contactBox {
        margin: 5px 10px;
        width: 500px;
        height: auto;
    } 

    .contactText {
        padding: 0;
        margin: 0;
        padding: 0 15px;
        text-align: center;
    }

    .services > p {
        padding-bottom: 20px;
        margin: 0 20px;
    }

    .center {
        height: auto;
        margin: 30px;
    }

    .servicescontainer {
        display: block;
        height: auto;
    }

    .servicesbox {
        text-align: center; 
        margin: 0 auto;
    }

    #leftt {
        text-align: left;
    }
}    

@media (max-width: 798px){

    .fbox {
        margin: 0 50px; 
    } 
}

@media (max-width: 768px){   

    .ccontainer {
        margin: 0 15%;
    } 

    .reviews {
        height: 650px;
    }    

    .reviewbox {
        height: 380px;
    }

    footer > p {
        font-size: 0.8rem;
    }
}


@media (max-width: 700px){ 

    .intro > p {
        font-size: 15px;
    } 

    .container {
        display: block;
    }

    .about {
        height: auto;
    } 

    .about > p {
        padding-bottom: 10px;
    } 

    .text-right {
        text-align: left;
    } 

    .aboutbox {
        margin: 0 20px; 
        padding: 0;
        width: auto;
        height: auto;
    }

    .abouttext {
        height: auto; 
        margin: auto;
    } 

    .rcontainer {
        display: block;
    } 

    .reviews {
        height: 960px;
    }

    .reviewbox {
        margin: 20px 40px 0 40px; 
        padding: 10px;
        width: auto;
        height: auto;
    }  

    .ccontainer {
        margin: 0 10%;
    } 

}    

@media (max-width: 618px){

    .fbox {
        margin: 0 30px; 
    } 
}

@media (max-width: 606px){ 

    .contactBox {
        margin: 5px 0;

    } 

    .ccontainer {
        margin: 0 8.8%;
    } 

}

@media (max-width: 554px){ 

    .ccontainer {
        margin: 0 4%;
    } 

}

@media (max-width: 539px){  

    .intro > p {
        margin: 0 20px;
    }

    .reviews {
        height: 990px;
    }

    .ccontainer {
        margin: 0 2%;
    } 

}    

@media (max-width: 527px){  

    .reviews {
        height: 1000px;
    }

}   

@media (max-width: 495px){  

    .abouttext {
        padding: 10px 0 0 0;
    }

    .reviews {
        height: 1020px;
    }

    .contactBox {
        width: auto;
    }

} 

@media (max-width: 493px){

    .fcontainer {
        display: block;
    } 

    .privacypolicy div {
        width: 90%;
        height: auto; 
        margin: 20px auto; 
    }  

    .termsservice div {
        width: 90%;
        height: auto; 
        margin: 20px auto; 
    }   
}

@media (max-width: 446px){   

    .intro > h1 {
        font-size: 4em; 
    } 

    .about > h2 {
        font-size: 3em;
    } 

    .about > p {
        font-size: 1.1em; 
        padding-bottom: 20px; 
        margin: 0 10px;
    }

    .reviews {
        height: 1010px;
    } 

    .reviews > h2 {
        font-size: 3em;
    } 

    .reviews > p {
        font-size: 1.1em;
        padding-bottom: 20px;
    }

    .privacypolicy > h2 {
        font-size: 3em;
    } 

    .privacypolicy > p {
        font-size: 1.1em;
        padding-bottom: 20px;
    }

    .termsservice > h2 {
        font-size: 3em;
    } 

    .termsservice > p {
        font-size: 1.1em;
        padding-bottom: 20px;
    }

    .services > h2 {
        font-size: 3em;
    } 

    .services > p {
        font-size: 1.1em;
        padding-bottom: 20px;
    }

} 


@media (max-width: 395px){   

    .reviews {
        height: 1015px;
    }  

    .intro > h1 {
        font-size: 3.6em; 
    } 

    .about > h2 {
        font-size: 2.6em;
    } 

    .about > p {
        font-size: 1em; 
    }

    .reviews > h2 {
        font-size: 2.6em;
    } 

    .reviews > p {
        font-size: 1em;
    } 

    footer > p {
        font-size: 0.8rem;
    }

    .privacypolicy > h2 {
        font-size: 2.6em;
    } 

    .privacypolicy > p {
        font-size: 1em;
    } 

    .termsservice > h2 {
        font-size: 2.6em;
    } 

    .termsservice > p {
        font-size: 1em;
    } 

    .services > h2 {
        font-size: 2.6em;
    } 

    .services > p {
        font-size: 1em;
    } 

    .servicesTI {
        min-height: 150px;
        max-width: 300px;
    }

}  

@media (max-width: 392px){
    .reviews {
        height: 1020px;
    }  
}

@media (max-width: 387px){

    .mobile {
        /* margin: 20px 20px; */
        margin: 10px 5px;
    }
}

@media (max-width: 379px){   

    .reviews {
        height: 1025px;
    }  

    footer > p {
        font-size: 0.8rem;
    }
} 

@media (max-width: 373px){

    .servicesTI {
        min-height: 150px;
        max-width: 250px;
    }
}

@media (max-width: 372px){
    .reviews {
        height: 1040px;
    }  
} 

@media (max-width: 374px){
    .reviews {
        height: 1050px;
    }  
}

@media (max-width: 350px){   

    .reviews {
        height: 1040px;
    }   

    footer > p {
        font-size: 0.8rem;
    } 

    form {
        padding: 0;
    }
}

@media (max-width: 339px){
    .reviews {
        height: 1060px;
    }  
} 

@media (max-width: 345px){
    .mobile1 {
        margin: 10px 5px;
        
    }
}
